*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  align-items: center;
  
}
body{
  background-color: rgb(25, 25, 68);
  color: aliceblue;
}

ul{
  display: flex;
  gap: 10px;
  color: coral;
  margin-left: 650px;
  margin-top: 8px;
  margin-bottom: 8px;
  
}

h2, h3{
  margin-top: 15px;
  margin-bottom: 10px;
}
#about-text {
  max-width: 500px;
  display: inline;
}
.work{
 width: 80%;
}
#work-imgs{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}
#work-imgs a{
  width: 71%;
}
#project{
  width: 100%;
}
#blank{
  width: 30%;
}

fieldset a{
  max-width: 100%;
}

img{
  border: 2px solid coral;
  gap: 2px;
}
img:hover{
 opacity: 50%;
 cursor: pointer;
}
footer{
  display: inline;
}
footer p{
  display: inline;
  margin: 0 15px;
}
a{
  text-decoration: none;
  color: coral;
}
a::after{
  color: coral;
}
